.home-main {
    /* height: calc(100vh - 115px); */
    /* height: auto; */
    background-color: #f7f7f7;
    padding: 15px 0px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.upper-half {
    /* width: 60%; */
    width: auto;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: auto;
    padding: 10px;
    border-radius: 2em;
}

.upper-half p {
    font-size: 200%;
    display: inline-block;
    margin: auto;
}

.upper-half h1 {
    font-size: 300%;
    display: inline-block;
    margin: auto
}

.lower-half {
    width: 90%;
    margin: auto;
    /* position: relative;
    top: 12vh; */
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    display: inline-block;
    margin: 0 10px;
}

.left p,
.right p {
    display: inline-block;
    text-align: center;
}

.btn {
    color: white;
    display: inline-block;
    min-width: 70px;
    width: auto;
    text-align: center;
    background-color: #55c57a;
    border-radius: 10px;
    text-decoration: none;
    /* height: 2.5rem; */
    /* font-weight: bold; */
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    transition: transform .3s ease-out;
}

.btn:hover {
    transform: translate(0, -3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

@media screen and (max-width:700px) {

    .lower-half {
        /* display: flex; */
        /* flex-direction: column; */
        width: 90%;
        /* justify-content: center; */
        /* align-items: center; */
        /* position: relative; */
        /* top: 12vh; */
        padding: 40px 10px;
    }

    .upper-half {
        width: 90%;
    }

    .lower-half {
        text-align: center;
    }
}