.top-tours-heading {
    padding: 3% 1% 0 1%;
    width: 100%;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #7dd56f, #28b487);
    text-align: center;
}